<div class="bottombar-container row g-0 d-flex">
    <a href="/recipes" class="d-flex justify-content-center text-decoration-none bottombar-item recipes" data-location="recipes">
        <div class="material-icons">dinner_dining</div>
    </a>
    <a href="/plan" class="d-flex justify-content-center text-decoration-none bottombar-item plan" data-location="plan">
        <div class="material-icons">calendar_month</div>
    </a>
    <a href="/home" class="d-flex justify-content-center text-decoration-none bottombar-item home" data-location="home">
        <div class="material-icons">home</div>
    </a>
    <a href="/statistics" class="d-flex justify-content-center text-decoration-none bottombar-item statistics" data-location="statistics">
        <div class="material-icons">leaderboard</div>
    </a>
    <a href="/settings" class="d-flex justify-content-center text-decoration-none bottombar-item settings" data-location="settings">
        <div class="material-icons">settings</div>
    </a>
</div>


<style>
    body {
        margin-bottom: 70px;
    }

    .bottombar-container {
        position: fixed;
        left: 0;
        bottom: 0;
        height: 60px;
        z-index: 2;
        width: 100%;
        background-color: #1a1423;
        border-top: 1px solid #f3e9dc;
        align-content: center;
    }

    .bottombar-item {
        width: calc(100vw / 5);
        font-size: 45px;
        color: #f3e9dc;
    }

    .bottombar-item .material-icons {
        font-size: 45px !important;
    }

    .material-icons-active {
        color: #f7996e;
    }
</style>