<h3>Zuletzt hinzugefügte Rezepte</h3>
<ul class="d-flex flex-column">
    {{#each recipes}}
        <li>
            <a href="/recipe/{{this._id}}" class="text-decoration-none">
                <span>{{this.title}}</span>
            </a>
        </li>
    {{/each}}
</ul>