<div class="row p-4 g-0">
    <h3>Zuletzt hinzugefügte Rezepte</h3>
    <div class="row g-0 ps-3">
        {{#each recipes}}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4">
                <a href="/recipe/id?{{this._id}}" class="text-decoration-none">
                    <h4>{{this.title}}</h4>
                </a>
            </div>
        {{/each}}
    </div>
</div>