<div class="formular-container js-add-formular p-5">
    <h3>Rezept Hinzufügen</h3>
    {{#if error}}
        <span class="text-danger">{{error}}</span>
    {{/if}}
    <form action="/recipes/api" method="post">
        <label for="">Titel</label>
        <input id="title" name="title" class="js-form-title w-100 mb-3" type="text" placeholder="Title">
        <label for="">Ingredients (comma separated list)</label>
        <input id="ingredients" name="ingredients" class="js-form-ingredients w-100 mb-3" type="text" placeholder="Ingredients">
        <label for="">Tags (comma separated list)</label>
        <input id="tags" name="tags" class="w-100 mb-3 js-form-tags" type="text" placeholder="Tags, comma separated">
        <div class="w-100">
            <input id="for2days" class="js-form-for2days" type="checkbox" name="for2days">
            <label class="mb-3" for="">For two days?</label>
        </div>
        <label for="">Price</label>
        <select name="price" class="w-100 mb-3 js-form-price">
            <option value="1">€</option>
            <option value="2">€€</option>
            <option value="3">€€€</option>
        </select>
        <div class="w-100 mb-3">
            <button type="submit" class="js-add-recipe-btn btn btn-primary" data-action="add">
                Hinzufügen
            </button>
        </div>
    </form>
</div>

{{> bottombar}}