{{> recipeplanpreview plan=recipeplan}}
{{> latestrecipes recipes=recipes}}

<div class="container">
    <div class="row d-flex">
        {{> button href="/content" linkclass="text-decoration-none" btnclass="btn btn-secondary" cta="Browse All Recipes"}}
        {{> button href="/recipeplan" linkclass="text-decoration-none" btnclass="btn btn-primary" cta="Generate Plan!"}}
    </div>
</div>

{{> bottombar}}