<div class="nav-contaienr row w-100 g-0">
    {{> navigation}}
</div>


<div class="container">
    <div class="row d-flex">
        <a href="/content" class="text-decoration-none">
            <button class="btn btn-secondary">
                Browse All Recipes!
            </button>
        </a>

        <a href="/repiceplan" class="text-decoration-none">
            <button class="btn btn-primary">
                Generate Plan!
            </button>
        </a>
    </div>
</div>