<div class="container p-4">
    <div class="container mb-4 pb-4 border-bottom">
        {{#if todaysRecipe}}
            <h3>Was gibt es heute?</h3>
            <a href="/recipes/{{todaysRecipe._id}}">{{todaysRecipe.title}}</a>
            <a href="/plan/{{plan._id}}">Gesamten Plan anschauen</a>
        {{else}}
            <h3>Du hast noch keinen Plan erstellt</h3>
            {{> button href="/plan/add" linkclass="text-decoration-none" btnclass="btn btn-primary" cta="Plan erstellen!"}}
        {{/if}}
    </div>

    <div class="container">
        {{> latestrecipes recipes=recipes}}
        {{> button href="/recipes" linkclass="text-decoration-none" btnclass="btn btn-secondary" cta="Browse All Recipes"}}
    </div>
</div>

{{> bottombar}}