
body {
    padding: 0;
    background-color: #1a1423;
    color: #f3e9dc;
    overflow-x: hidden;
}

.body-wrapper {
    max-width: 768px;
}

a {
    color: #f3e9dc;
    text-decoration: none;
}
.recipe-tile {
    height: auto;
    width: auto;
    background-color: #684756;
    border-radius: 4px;
    position: relative;
}

.recipe-tag {
    background-color: #f3e9dc;
    color: #1a1423;
    border-radius: 6px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.js-delete-recipe {
    color: #f7996e;
    font-size: 30px;
}
.js-edit-recipe {
    color: #f7996e;
    font-size: 30px;
}

.price-icon-color {
    color: #f7996e;
}

.loader {
    width: 40px;
    height: 20px;
    --c: linear-gradient(currentColor 0 0);
    --r1: radial-gradient(farthest-side at bottom,currentColor 93%,#0000);
    --r2: radial-gradient(farthest-side at top   ,currentColor 93%,#0000);
    background: 
      var(--c) ,
      var(--r1),
      var(--r2),
      var(--c) ,  
      var(--r1),
      var(--r2),
      var(--c) ,
      var(--r1),
      var(--r2);
    background-repeat: no-repeat;
    animation: db2 1s infinite alternate;
  }
  
  @keyframes db2 {
    0%,25% {
      background-size: 8px 0,8px 4px,8px 4px,8px 0,8px 4px,8px 4px,8px 0,8px 4px,8px 4px;
      background-position: 0 50%,0 calc(50% - 2px),0 calc(50% + 2px),50% 50%,50% calc(50% - 2px),50% calc(50% + 2px),100% 50%,100% calc(50% - 2px),100% calc(50% + 2px);
   }
   50% {
      background-size: 8px 100%,8px 4px,8px 4px,8px 0,8px 4px,8px 4px,8px 0,8px 4px,8px 4px;
      background-position: 0 50%,0 calc(0% - 2px),0 calc(100% + 2px),50% 50%,50% calc(50% - 2px),50% calc(50% + 2px),100% 50%,100% calc(50% - 2px),100% calc(50% + 2px);
   }
   75% {
      background-size: 8px 100%,8px 4px,8px 4px,8px 100%,8px 4px,8px 4px,8px 0,8px 4px,8px 4px;
      background-position: 0 50%,0 calc(0% - 2px),0 calc(100% + 2px),50% 50%,50% calc(0% - 2px),50% calc(100% + 2px),100% 50%,100% calc(50% - 2px),100% calc(50% + 2px);
   }
   95%,100% {
      background-size: 8px 100%,8px 4px, 8px 4px,8px 100%,8px 4px,8px 4px,8px 100%,8px 4px,8px 4px;
      background-position: 0 50%,0 calc(0% - 2px),0 calc(100% + 2px),50% 50%,50% calc(0% - 2px),50% calc(100% + 2px),100% 50%,100% calc(0% - 2px),100% calc(100% + 2px);
   }
  }